{% extends "layout.html" %}

{% block title %}Expired Passwords - LockBook{% endblock %}

{% block body %}
<div class="nav">
    <a href="/dashboard">Dashboard</a>
    <a href="/admin/users">Manage Users</a>
    <a href="/admin/requests">User Requests</a>
    <a href="/admin/create-user">Create User</a>
    <a href="/admin/expired-passwords">Expired Passwords</a>
    <a href="/logout" style="float: right;">Logout</a>
</div>

<h2>Users with Expired Passwords</h2>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password Expired On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password_expiry_date.strftime('%Y-%m-%d') if user.password_expiry_date else 'N/A' }}</td>
            <td>
                <a href="/admin/send-email/{{ user.user_id }}">Send Reminder</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
