{% extends "base.html" %}

{% block content %}
<h2>Chart of Accounts</h2>

<table>
    <tr>
        <th>Account Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for account in accounts %}
    <tr>
        <td>
            <a href="/account/{{ account.id }}/ledger">
                {{ account.name }}
            </a>
        </td>
        <td>{{ account.type }}</td>
        <td>{{ account.status }}</td>
        <td>
            <a href="/admin/account/edit/{{ account.id }}">Edit</a>
            <a href="/admin/account/deactivate/{{ account.id }}">Deactivate</a>
            <a href="/admin/account/logs/{{ account.id }}">Logs</a>
            <a href="/admin/email/{{ account.id }}">Email</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}