{% extends "layout.html" %}

{% block title %}Login - LockBook{% endblock %}

{% block body %}
<div style="max-width: 400px; margin: 50px auto;">
    <h2 style="text-align: center; margin-bottom: 30px;">LockBook Accounting System</h2>

    <form method="POST" action="/login">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>

        <div class="form-group">
            <button type="submit" style="width: 100%;">Login</button>
        </div>
    </form>

    <div style="text-align: center; margin-top: 20px;">
        <a href="/forgot-password">Forgot Password?</a>
        <br><br>
        <a href="/register-request">Create New User</a>
    </div>
</div>
{% endblock %}
